
.container{
  background-color: darkgrey;
  border: solid red 4px;
  margin: 20px;
  padding: 20px;
}

.list{
  display:inline-flex;
}
.Card{
  background-color: dimgrey;
  margin: 20px;
  padding:20px;
  border-radius: 10px;
  width: 200px;
}
.click{
  background-image: linear-gradient(rgb(238, 198, 137), rgb(223, 204, 176));
}

.NavBar{
  border-radius: 5px;
  color:  rgb(29, 107, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-image: linear-gradient(rgb(238, 198, 137), rgb(223, 204, 176));
  padding: 0.5rem 1rem;
  z-index: 999;
}
nav li{
  display:inline-flex;
   width:15%;
  padding: 5px 15px;
  text-align:justify;
  color:#fff
}

img {
  max-width: 100%;
  max-height: 100%;
 }
.cartimg{
 height: 30px;
 width: 30px;
  
}


